body {
    margin: 0;
    background-color: #ffffff;
}

.navbar-brand img {
   width: 85px;
}

.navbar {
   background-color: #000080;
}

.nav-link {
   color: white;
   font-weight: 700;
   font-size: 17px;
   transition: 0.3s;
}

.nav-link:hover {
   color: #c7c7c7;
}

