body {
    background-color: rgb(241, 241, 241);
    margin: 0;
}

.navbar {
    margin-bottom: 30px;
}

.navbar img{
    width: 120px;
    height: 70px;
}

.cadPizza {
    width: 150px;
    height: 40px;
    background: #38c700;
    border: #35b901;
    border-radius: 7px;
    transition: 0.20s;
}

.cadPizza:hover {
    background: #33b102;
}

.cadPizza a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

select.form-control,
button.btn {
    width: 150px;
    height: 40px;
    margin-right: 10px; /* Espaçamento entre o select e o botão */
}

select.form-control {
    border-radius: 7px;
}



